.landing {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 2901px;
  position: relative;
}

.landing .overlap {
  position: absolute;
  width: 1446px;
  height: 1325px;
  top: 1576px;
  left: -4px;
}

.landing .overlap-group {
  position: absolute;
  width: 1440px;
  height: 1325px;
  top: 0;
  left: 6px;
}

.landing .rectangle {
  position: absolute;
  width: 1440px;
  height: 290px;
  top: 1035px;
  left: 0;
  background-color: #ff4f16;
}

.landing .rectangle-2 {
  position: absolute;
  width: 332px;
  height: 64px;
  top: 333px;
  left: 734px;
  background-color: #ff5e24;
  border-radius: 200px;
  border: 1px solid;
  border-color: #036229;
  box-shadow: 0px 4px 4px #00000040;
}

.landing .oranges {
  position: absolute;
  width: 488px;
  height: 1048px;
  top: 0;
  left: 950px;
  object-fit: cover;
}

.landing .text-wrapper {
  position: absolute;
  width: 196px;
  top: 342px;
  left: 768px;
  font-family: "Open Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #030303;
  font-size: 32px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing .text-wrapper-2 {
  position: absolute;
  width: 314px;
  top: 1070px;
  left: 500px;
  font-family: "Italianno-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 80px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing .text-wrapper-3 {
  position: absolute;
  width: 245px;
  top: 1189px;
  left: 143px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing .text-wrapper-4 {
  position: absolute;
  width: 245px;
  top: 1189px;
  left: 417px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing .text-wrapper-5 {
  position: absolute;
  width: 176px;
  top: 1192px;
  left: 691px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing .text-wrapper-6 {
  position: absolute;
  width: 176px;
  top: 1189px;
  left: 896px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing .text-wrapper-7 {
  position: absolute;
  width: 176px;
  top: 1189px;
  left: 1101px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing .logo-tiktok {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 1266px;
  left: 544px;
}

.landing .logo-youtube {
  position: absolute;
  width: 36px;
  height: 34px;
  top: 1268px;
  left: 720px;
}

.landing .logo-pinterest {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 1266px;
  left: 339px;
}

.landing .cib-facebook {
  height: 34px;
  top: 1267px;
  left: 902px;
  position: absolute;
  width: 35px;
}

.landing .cib-instagram {
  height: 35px;
  top: 1266px;
  left: 1089px;
  position: absolute;
  width: 35px;
}

.landing .div-wrapper {
  position: absolute;
  width: 223px;
  height: 64px;
  top: 466px;
  left: 57px;
  background-color: #ff4501;
  border-radius: 200px;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 0px 4px 4px #00000040;
}

.landing .text-wrapper-8 {
  position: absolute;
  width: 108px;
  top: 10px;
  left: 58px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #020101;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing .overlap-2 {
  position: absolute;
  width: 223px;
  height: 64px;
  top: 466px;
  left: 362px;
  background-color: #ff4501;
  border-radius: 200px;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 0px 4px 4px #00000040;
}

.landing .text-wrapper-9 {
  position: absolute;
  width: 118px;
  top: 185px;
  left: 75px;
  font-family: "Open Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.landing .text-wrapper-10 {
  position: absolute;
  width: 176px;
  top: 299px;
  left: 75px;
  font-family: "Open Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ff4f16;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing .text-wrapper-11 {
  position: absolute;
  width: 149px;
  top: 191px;
  left: 441px;
  font-family: "Open Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.landing .image {
  left: 450px;
  position: absolute;
  width: 114px;
  height: 114px;
  top: 47px;
  object-fit: cover;
}

.landing .img {
  left: 75px;
  position: absolute;
  width: 114px;
  height: 114px;
  top: 47px;
  object-fit: cover;
}

.landing .overlap-3 {
  position: absolute;
  width: 270px;
  height: 62px;
  top: 334px;
  left: 58px;
  border-radius: 200px;
  border: 1px solid;
  border-color: #ff4f16;
}

.landing .text-wrapper-12 {
  position: absolute;
  width: 170px;
  top: 22px;
  left: 22px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #bcb5b5;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing .rectangle-3 {
  position: absolute;
  width: 270px;
  height: 62px;
  top: -1px;
  left: -1px;
  border-radius: 200px;
  border: 1px solid;
  border-color: #ff4f16;
}

.landing .overlap-4 {
  position: absolute;
  width: 270px;
  height: 62px;
  top: 334px;
  left: 363px;
  border-radius: 200px;
  border: 1px solid;
  border-color: #ff4f16;
}

.landing .peso-ex {
  position: absolute;
  width: 176px;
  top: 299px;
  left: 380px;
  font-family: "Open Sans-Bold", Helvetica;
  font-weight: 700;
  color: #ff4f16;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing .overlap-5 {
  position: absolute;
  width: 879px;
  height: 60px;
  top: 626px;
  left: 0;
}

.landing .rectangle-4 {
  position: absolute;
  width: 839px;
  height: 60px;
  top: 0;
  left: 40px;
  background-color: #ff4f16;
  border-radius: 10px;
}

.landing .p {
  position: absolute;
  width: 445px;
  top: 1px;
  left: 0;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #020101;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing .text-wrapper-13 {
  position: absolute;
  width: 85px;
  top: 737px;
  left: 30px;
  font-family: "Open Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ff4f16;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing .text-wrapper-14 {
  position: absolute;
  width: 200px;
  top: 805px;
  left: 53px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #020101;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing .text-wrapper-15 {
  position: absolute;
  width: 100px;
  top: 804px;
  left: 379px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #020101;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing .text-wrapper-16 {
  top: 805px;
  color: #020101;
  position: absolute;
  width: 19px;
  left: 762px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing .text-wrapper-17 {
  top: 850px;
  color: #020101;
  position: absolute;
  width: 19px;
  left: 762px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing .text-wrapper-18 {
  top: 893px;
  color: #020101;
  position: absolute;
  width: 19px;
  left: 762px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing .text-wrapper-19 {
  top: 935px;
  color: #020101;
  position: absolute;
  width: 19px;
  left: 762px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing .text-wrapper-20 {
  top: 975px;
  color: #000000;
  position: absolute;
  width: 19px;
  left: 762px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing .text-wrapper-21 {
  position: absolute;
  width: 100px;
  top: 850px;
  left: 379px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #020101;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing .text-wrapper-22 {
  position: absolute;
  width: 126px;
  top: 893px;
  left: 379px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #020101;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing .text-wrapper-23 {
  width: 126px;
  top: 935px;
  position: absolute;
  left: 379px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #020101;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing .text-wrapper-24 {
  width: 168px;
  top: 975px;
  position: absolute;
  left: 379px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #020101;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing .text-wrapper-25 {
  position: absolute;
  width: 200px;
  top: 850px;
  left: 53px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #020101;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing .text-wrapper-26 {
  position: absolute;
  width: 200px;
  top: 893px;
  left: 53px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #020101;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing .text-wrapper-27 {
  position: absolute;
  width: 200px;
  top: 935px;
  left: 53px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #020101;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing .text-wrapper-28 {
  position: absolute;
  width: 200px;
  top: 975px;
  left: 53px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #020101;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing .text-wrapper-29 {
  position: absolute;
  width: 165px;
  top: 737px;
  left: 344px;
  font-family: "Open Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ff4f16;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing .text-wrapper-30 {
  position: absolute;
  width: 207px;
  top: 737px;
  left: 661px;
  font-family: "Open Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ff4f16;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing .line {
  position: absolute;
  width: 815px;
  height: 2px;
  top: 833px;
  left: 53px;
  object-fit: cover;
}

.landing .line-wrapper {
  position: absolute;
  width: 815px;
  height: 2px;
  top: 920px;
  left: 55px;
  background-image: url(./img/line-8.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.landing .line-2 {
  position: absolute;
  width: 815px;
  height: 2px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.landing .line-3 {
  position: absolute;
  width: 815px;
  height: 2px;
  top: 962px;
  left: 55px;
  object-fit: cover;
}

.landing .line-4 {
  position: absolute;
  width: 815px;
  height: 2px;
  top: 1002px;
  left: 55px;
  object-fit: cover;
}

.landing .line-5 {
  position: absolute;
  width: 816px;
  height: 4px;
  top: 874px;
  left: 54px;
  object-fit: cover;
}

.landing .overlap-6 {
  position: absolute;
  width: 1440px;
  height: 104px;
  top: 0;
  left: 0;
  background-color: #ff4001;
}

.landing .text-wrapper-31 {
  position: absolute;
  width: 314px;
  top: 10px;
  left: 150px;
  font-family: "Italianno-Regular";
  font-weight: 400;
  color: #000000;
  font-size: 75px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landing .line-6 {
  position: absolute;
  width: 55px;
  height: 1px;
  top: 35px;
  left: 1352px;
  object-fit: cover;
}

.landing .line-7 {
  position: absolute;
  width: 55px;
  height: 1px;
  top: 52px;
  left: 1352px;
  object-fit: cover;
}

.landing .line-8 {
  position: absolute;
  width: 55px;
  height: 1px;
  top: 68px;
  left: 1352px;
  object-fit: cover;
}

.landing .vegetais-removebg {
  position: absolute;
  width: 107px;
  height: 100px;
  top: 2px;
  left: 15px;
  object-fit: cover;
}

.landing .overlap-7 {
  position: absolute;
  width: 1466px;
  height: 1141px;
  top: 140px;
  left: -26px;
}

.landing .overlap-8 {
  position: absolute;
  width: 1440px;
  height: 1141px;
  top: 0;
  left: 26px;
}

.landing .text-wrapper-32 {
  position: absolute;
  width: 790px;
  top: 24px;
  left: 302px;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing .o-IMC-que-representa {
  position: absolute;
  width: 934px;
  top: 230px;
  left: 87px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.landing .section {
  position: absolute;
  width: 1104px;
  height: 674px;
  top: 420px;
  left: 148px;
}

.landing .pics {
  position: absolute;
  width: 604px;
  height: 597px;
  top: 77px;
  left: 500px;
}

.landing .rectangle-5 {
  position: absolute;
  width: 311px;
  height: 402px;
  top: 177px;
  left: 405px;
  object-fit: cover;
}

.landing .rectangle-6 {
  position: absolute;
  width: 284px;
  height: 231px;
  top: 348px;
  left: 104px;
  object-fit: cover;
}

.landing .rectangle-7 {
  position: absolute;
  width: 612px;
  height: 186px;
  top: 597px;
  left: 104px;
  object-fit: cover;
}

.landing .overlap-group-2 {
  position: absolute;
  width: 592px;
  height: 769px;
  top: 181px;
  left: -115px;
}

.landing .strawberries {
  width: 327px;
  height: 602px;
  top: 160px;
  position: absolute;
  left: 0;
  object-fit: cover;
}

.landing .why-healthy-list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  position: absolute;
  top: 0;
  left: 203px;
}

.landing .element {
  display: inline-flex;
  align-items: flex-start;
  gap: 30px;
  position: relative;
  flex: 0 0 auto;
}

.landing .tttick {
  position: relative;
  width: 39px;
  height: 31px;
  margin-top: -1px;
  margin-bottom: -3px;
  margin-left: -2px;
}

.landing .text-wrapper-33 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--paragraph-p2-reg-font-family);
  font-weight: var(--paragraph-p2-reg-font-weight);
  color: #000000;
  font-size: var(--paragraph-p2-reg-font-size);
  letter-spacing: var(--paragraph-p2-reg-letter-spacing);
  line-height: var(--paragraph-p2-reg-line-height);
  white-space: nowrap;
  font-style: var(--paragraph-p2-reg-font-style);
}

.landing .text-wrapper-34 {
  position: absolute;
  width: 532px;
  top: 511px;
  left: 138px;
  font-family: "Instrument Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.landing .strawberries-2 {
  width: 387px;
  height: 840px;
  top: 450px;
  position: absolute;
  left: 0;
  object-fit: cover;
}

.landing .fita {
  position: absolute;
  width: 348px;
  height: 526px;
  top: 0;
  left: 1092px;
  object-fit: cover;
}

.landing .text-wrapper-35 {
  position: absolute;
  width: 726px;
  top: 165px;
  left: 0;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing .overlap-9 {
  position: absolute;
  width: 350px;
  height: 49px;
  top: 1765px;
  left: 60px;
}

.landing .text-wrapper-36 {
  position: absolute;
  width: 350px;
  top: 0;
  left: 0;
  font-family: "Instrument Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.landing .line-9 {
  position: absolute;
  width: 815px;
  height: 1px;
  top: 3470px;
  left: 1842px;
}
